<!-- homepage handlebars -->
<div class="card-container">
	<div class="wrapper">
		<!-- {{#if logged_in}} -->
		<h1>Welcome, {{user.name}}</h1>

		<!-- {{else}} -->
		<h2> Checkout the grub!</h2>
		<!-- {{/if}} -->

		{{#each posts as |post|}}
		<div class="card-container">
			<div class="wrapper">
				<!-- title of blog -->
				<p>{{post.title}}</p>
				<!-- Food provider name -->
				<p>Provider: {{post.name}}<br/></p>
				<!-- contact info? -->
				<p>Food: {{post.contact}}<br/></p>
				<!-- description -->
				<p>{{post.content}}<br/></p>
			</div>
		</div>
		{{/each}}
	</div>
</div>